{
  "tagFormat": "${version}",
  "branch": "master",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/github",
    "@semantic-release/git"
  ],
  "verifyConditions": [
    "@semantic-release/changelog",
    "@semantic-release/git",
    "@semantic-release/github",
    "@qiwi/semantic-release-gh-pages-plugin"
  ],
  "prepare": [
    [
      "@semantic-release/exec",
      {
        "publishCmd": "./bin/build.sh"
      }
    ],
    "@semantic-release/changelog",
    "@semantic-release/git"
  ],
  "publish": [
    ["@semantic-release/github", {
      "assets": ["build/markdown/spec.md"]
    }],
    {
      "path": "@qiwi/semantic-release-gh-pages-plugin",
      "msg": "github pages release",
      "src": "build/ghpages/",
      "branch": "gh-pages"
    }
  ],
  "success": [
    "@semantic-release/github"
  ],
  "fail": [
    "@semantic-release/github"
  ]
}
